body {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
}

a:hover{
    color: #dcdbe1;
}

h3:hover{
    color: #dcdbe1;
}

div, span, p, a, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: none;
}

#content {
    width: 100%;
    background-color: #666666;
    color: #fff;
}

#logo {
    width: 220px;
}

.m_selected h3 {
    margin-bottom: -3px;
    border-bottom: 3px solid white;
}

.f_selected h3 {
    margin-bottom: -3px;
    border-bottom: 3px solid white;
}
